<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Chalk Developers Blog<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300,700'
      rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'layout' %>
  </head>
  <body class="row">
    <h1><a href="/">Chalk Developers Blog</a></h1>
    <hr>

    <div id="main" role="main">
      <%= yield %>
    </div>

    <hr>
    <div class="large-8 columns">
      <h4>Recent</h4>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>
    </div>

    <div class="large-4 columns">
      <h4>Tags</h4>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li>
            <% link_to tag_path(tag) do %>
              <span class="label"><%= tag %></span> (<%= articles.size%>)
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  </body>
</html>
